<% @auctions.each do |auction| %>
<ul class="vcard">
	<li><h3><%= auction.name %></h3> </li>
	<li>Starting Price: $<%= auction.start_price %></li>
	<li><%= auction.description %></li>
	<li>Seller: <%= auction.user.username %></li>
	<li>Time Remaining: <%= auction.time_remaining %></li>
</ul>
<% end %>	
