<div id="large-12 columns">
  <div id="auctions-index-container">
    <div class="large-5 columns">

        <div class="auctions-container">

          <% @auctions.each do |auction| %>

            <div id="auctions-holder">
            	<h3><%= link_to auction.name, auction_path(auction) %></h3>
              <p>Current Price: $<%= auction.current_price%></p> 
            	<p>Seller: <%= auction.user.username %></p>
              <p>Distance: <%= auction.location.distance_from(auction.user.locations.first).round(2) %> km</p>

              <% if auction.completed? == false %>
                  <p>Time Remaining: <%= distance_of_time_in_words(auction.remainder) %></p>
                <% else %>
                  <p><strong>AUCTION FINISHED</strong></p>  
              <% end %> 

            </div>
          <% end %>	

        </div>

  </div>

     <div class="large-7 columns">
          <div id="map-container">
           

          </div>
     </div>
</div>
</div
