<ul>
	<li><%= @auction.name %> </li>
	<li>Starting Price: $<%= @auction.start_price %><li>
	<li><%= @auction.description %><li>
	<li>Seller: <%= @auction.user.username %><li>
	<li>Time Remaining: <%= @auction.time_remaining(@auction.remainder) %><li>
</ul>