
<div class="row">
  <div class="large-5 columns">
    
    <div id="auction-info">
      <h1><%= @auction.name %> </h1>
      <p>Seller: <%= @auction.user.username %> <%= link_to "Manage Images", auction_images_path(@auction), :class => "small button round" if current_user == @auction.user %>
      </p>
    	<p>Starting Price: $<%= @auction.start_price %></p>
      <p><%= auction_summary(@auction) %></p>
    	<p><%= @auction.description %></p>
     
      <% if @auction.completed? == false %>
    	  <p>Time Remaining: <%= distance_of_time_in_words(@auction.remainder) %></p>
      <% else %>
        <p><strong>AUCTION FINISHED</strong><br>
        <% if current_user == @auction.winner%>
          <%= link_to "Rate #{@auction.user.first_name}", new_user_rating_path(@auction.user), :class => "tiny button round" %>
        <%end%>
        </p>
      <% end %>  
   

 
      <ul class="clearing-thumbs" data-clearing>
        <% @auction.images.each do |i| %>
          <li><a href="<%= i.file%>" class="th"><img src ="<%= i.file_url(:thumb) %>" /></a></li>
        <% end %> 
      </ul>

    </div>



    <div class="large-10 columns">
      <% if !@auction.completed? %>
        <%= form_for ([@auction, @bid]) do |f| %>
        	<a href="#" data-reveal-id="myModal"><%= f.submit :class => "button" %></a>
        <%end%>	
      <%end%>
    </div>
  </div>

  <div id="myModal" class="reveal-modal">
     <% if !@auction.completed? %>

     <p>Starting Price: $<%= @auction.start_price %></p>

     <p><%= auction_summary(@auction) %></p>
        <%= form_for ([@auction, @bid]) do |f| %>
          <%= f.label :amount %>
          <%= f.number_field :amount%>
          <%= f.submit :class => "button" %>
        <%end%> 
      <%end%>
  </div>


    <div class="full-page">  
      <div class="large-7 columns">
        <div id="map-canvas" data-lat="<%= @lat %>" data-lon="<%= @lon %>" data-user="<%=current_user == @auction.winner %>">

        </div>  
      </div>
    </div>
    
  </div>
</div>

<script>
  $(function(){
    console.log("hey")
    var lat = $("#map-canvas").data("lat");
    var lon = $("#map-canvas").data("lon");
    var user = $("#map-canvas").data("user");
    function initialize() {
      console.log(user)
      var myLatLon = new google.maps.LatLng(lat, lon);
      var mapOptions = {
        zoom: 15,
        center: myLatLon,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      if(user == true){
        var marker = new google.maps.Marker({
          position: myLatLon,
          map: map,
          title: "Location" 
        });
      }
      else {
        var circleOptions = {
          strokeColor: '#79b0e6',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#79b0e6',
          fillOpacity: 0.25,
          map: map,
          center: myLatLon,
          radius: 1000,    
        };
        var mapCircle = new google.maps.Circle(circleOptions);
      }
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDSTLVysvUOawHXL8ON4n4nZdrMpIY1Qo0&sensor=true&callback=initialize";
      document.body.appendChild(script);
    }

    initialize()
  });
 </script>
 
