

<ul>
	<li><%= @auction.name %> </li>
	<li>Starting Price: $<%= @auction.start_price %></li>
	<li>Current Price: $<%= @auction.current_price%></li>	
	<li><%= @auction.description %></li>
	<li>Seller: <%= @auction.user.username %></li>
  <% if @auction.completed? == false %>
	  <li>Time Remaining: <%= @auction.time_remaining %></li>
  <% else %>
    <li><strong>AUCTION FINISHED</strong></li>  
  <% end %>  
</ul>


<% if !@auction.completed? %>
  <%= form_for ([@auction, @bid]) do |f| %>
  	<%= f.label :amount %>
  	<%= f.number_field :amount%>

  	<%= f.submit %>

  <%end%>	

<%end%>

<% if @auction.location %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@auction.location.latitude}%2C#{@auction.location.longitude}" %>  
<%end %>
