<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "BlockTrader" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSTLVysvUOawHXL8ON4n4nZdrMpIY1Qo0&sensor=true">
    </script>



  </head>

  <body>
  	<!-- Nav Bar  -->
  	<div class="fixed">
  	<nav class="top-bar">
  		<ul class="title-area">
  			<li class="name">
  			<h1><%= link_to "BlockTrader", :root %></h1>
  			</li>
			  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>	
  		</ul>

  		<section class="top-bar-section">

	  		<ul class="left">

		        <li class="divider"></li>
		        <li class><%= link_to "Auctions", :auctions %> </li>
		        <li class="divider"></li>
		        

		       	<li class="has-form">
		      
				 <div class="search-container">  

		         <%= form_tag auctions_path, :method => "get" do %>
				  
				      	
				        <%= text_field_tag :search, params[:search], :placeholder => "Search For...", :id =>"nav_item" %>
				      
				
		              
		                <%= text_field_tag :location, params[:location], :placeholder => "Near", :id => "nav_near" %>
		           
              			
                		<%= number_field_tag :radius, params[:radius], :placeholder => "Radius", :id=> "nav_radius"%>
              			
              
				   
				        <%= submit_tag 'Search', :name => nil, :class=>"button", :id=>"nav_search_btn" %>
				      
				    <% end %>
			
				  </div>
				</li>

		    </ul>

		    <ul class="right">
		        <% if logged_in? %>
		          <li class="divider"></li>
		          <li class="has-dropdown"> <a href="#"><%= link_to current_user.first_name, user_path(current_user) %></a>
		            <ul class="dropdown">
		              <li><%= link_to "Profile", user_path(current_user) %>
		              <li><%= link_to "New Auction", new_auction_path %></li>
		              <li><%= link_to "Log out", logout_path, :method => :delete %></li>
		            </ul>
		          </li>
		          
		        <% else %>
		        <li class="divider"></li>
		         <li class=>  <%= link_to 'Sign Up', [:new, :user]%></li>
		          <li class="divider"></li>
		          <li  data-reveal-id="signInModal"><%= link_to 'Sign In', [:new, :session] %></li>
		       <% end %>
	      	</ul>
	  		</section>


	  		<div id="signInModal" class="reveal-modal">
			  <%= form_tag sessions_path, :method => :post do %>
			
				
					<%= label_tag :email %>
					<%= text_field_tag :email, params[:email], :placeholder => "john@mail.com" %> 
		
				
					<%= label_tag :password %>
					<%= password_field_tag :password %>
		
				</br>
					<p> Don't have an account? <%= link_to "Click Here", new_user_path %>

					<%= submit_tag 'Login', :class => "button" %>
				</div>
			</div>

		<% end %>
			</div>

	  	</nav>
	  	<div class="row">
			<div class="redBorder"></div>
			<div class="greenBorder"></div>
			<div class="blueBorder"></div>
		</div>
	  </div>


	<!-- Colour bar -->


	
<!-- Notices -->
	<% if flash[:notice] %>
	 
      <div data-alert class="alert-box">
	  		<%= flash[:notice] %>
	 </div>
     

	<% end %>

   <% if flash[:alert] %>
 
        <div data-alert class="alert-box">
             <%= flash[:alert] %>
         </div>
       

    <% end %>

<%= yield %>


	

    	<!-- Foundation JS -->


	<script type="text/javascript" src="js/foundation/foundation.js"></script>

  	<script type="text/javascript" src="/assets/custom.js"></script>


    <%= javascript_include_tag "application" %>

  </body>
</html>

